spring:
  application:
    name: UserService

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/SkillGapAdvisor

  datasource:
    url: jdbc:postgresql://localhost:5432/skillgap
    username: postgres
    password: postgres
    
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8082